.DS_Store
other/
test/

dist

# docs
docs/PRD.md
docs/pipeline.md
docs/tech.md

# PyInstaller
backend/build/
backend/dist/

# Tauri
frontend/src-tauri/target/
frontend/src-tauri/binaries/
frontend/src-tauri/gen/schemas/

# Demo Design
extension/design_from_ai_studio/
frontend/design_from_ai_studio/
