.DS_Store
other/need_to_solve.md
other/question.md
other/linkedin_sample.html
other/debug_script.md
test/

# docs
docs/PRD.md
docs/pipeline.md
docs/tech.md

# PyInstaller
backend/build/
backend/dist/

# Tauri
frontend/src-tauri/target/
frontend/src-tauri/binaries/
frontend/src-tauri/gen/schemas/

